@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/concept/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4B2c14;
}

.title h1 {
    font-family: "Yusei Magic", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.feature img {
  width: 360px;
  border-radius: 8px;
}

.feature-video {
  width: 360px; 
  height: auto;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
    .feature-video {
        width: 100%;
    }
}


.feature-text {
  max-width: 500px;
  margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

.feature-text h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px; 
}

.feature-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
}

.movie {
  width: 930px;
  max-width: 90%;
  background-color: #f8f8f8;
  padding: 50px 60px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}
.movie h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.movie p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}

.movie-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.movie-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .feature {
    display: block;
    width: 500px;
    margin-top: 45px;
  }

  .feature-text {
    margin-right: 0;
  }

  .reverse .feature-text {
    margin-left:  0;
  }

  .feature img {
    width: 100%;
    height: auto;
    margin-top: 25px;
    border-radius: 8px;
  }

  .feature-video {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .movie {
    width: 500px;
    padding: 30px 25px;
    border-radius: 8px;
  }

}