@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/delivery/uber.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4B2c14;
}

.title h1 {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.item-list {
  width: 1000px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
  list-style: none;
  grid-auto-rows: 1fr;
}

.item-list dl {
  margin-top: 20px;
  text-align: center;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.item-list .price {
  font-weight: bold;
  margin-top: 15px;
}

.item-list li {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 300px;
}

.item-list li a {
  display: block;
  text-align: center;
}

.item-list img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  }

.item-list li:hover img {
  transform: scale(1.05);
}

.item-list .item-label {
  position: absolute;
  top: 0;
  left: calc(100% + 18px);
  font-size: 10px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(90deg);
}

.footr {
  margin-top: 100px;}
  
  @media (max-width: 800px) {
  .item-list {
   grid-template-columns: 1fr; 
    margin-top: 45px;
    row-gap: 40px;
  }
}

