@charset "utf-8";

/* ===== タイトル部分 ===== */
.title {
  height: 310px;
  background-image: url(../images/access/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4B2c14;
}

.title h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

/* ===== 見出しとマップ ===== */
.main h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.main h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
}


.map {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.map iframe {
  display: block;
  width: 100%;
  height: 320px;
  margin-top: 25px;
}

/* ===== フッター ===== */
.footer {
  margin-top: 100px;
}

/* ===== レスポンシブ対応 ===== */
@media (max-width: 800px) {
  .map {
    width: 500px;
    margin-top: 45px;
  }
}